.centertext {
    text-align: center; /*让div内部文字居中*/
    margin: auto;
    position: absolute;
    min-width: 800px;
    height: 300px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.center {
    /*text-align: center; !*让div内部文字居中*!*/
    margin: auto;
    position: absolute;
    min-width: 800px;
    height: 300px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media print {

    .noprint{
        display: none;
    }

    .pagebreak{ page-break-after:always;  } /*分页控制 */

}

/*这里需要加上 .layui-table 如若不加可能会不生效*/
.layui-table .layui-table-cell {
    height: auto;
    word-break: normal;
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    padding: 0 10px !important;
}

/*div换行*/
.divstyle{
    display:inline-block;
    white-space:pre-wrap;
}